<!DOCTYPE html>
<html>
<head>
    <title>Mad Libs Game</title>
</head>
<body>
    <h1>Mad Libs Game</h1>
    <form action="/" method="post">
        <label for="adjective_1">Enter an adjective:</label>
        <input type="text" id="adjective_1" name="adjective_1"><br>

        <label for="noun_1">Enter a noun:</label>
        <input type="text" id="noun_1" name="noun_1"><br>

        <label for="verb_1">Enter a verb:</label>
        <input type="text" id="verb_1" name="verb_1"><br>

        <label for="adjective_2">Enter another adjective:</label>
        <input type="text" id="adjective_2" name="adjective_2"><br>

        <label for="noun_2">Enter another noun:</label>
        <input type="text" id="noun_2" name="noun_2"><br>

        <label for="adverb_1">Enter an adverb:</label>
        <input type="text" id="adverb_1" name="adverb_1"><br>

        <label for="verb_2">Enter another verb:</label>
        <input type="text" id="verb_2" name="verb_2"><br>

        <label for="adverb_2">Enter another adverb:</label>
        <input type="text" id="adverb_2" name="adverb_2"><br>

        <input type="submit" value="Generate Story">
    </form>
</body>
</html>
